<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" menu="main-menu"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-searchbar [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
<ion-content class="card-container">
  <h1>All Cars</h1>

  <div>
    <p class="error header" *ngIf="emptyList">
      No cars to display, please register the car first
    </p>
  </div>
  <ion-card
    color="dark"
    class="card"
    *ngFor="let car of allCars | filter:filterTerm; let i = index"
  >
    <ion-card-header>
      <ion-card-title>
        {{ car.make + ' ' + car.model | titlecase}}
      </ion-card-title>
      <ion-card-subtitle> {{ car.year}} </ion-card-subtitle>
      <ion-card-subtitle> {{car.rentalStatus | titlecase}} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label
            >Price: {{car.rentalPrice | currency: 'AUD' }} per day</ion-label
          >
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label
            >Transmission: {{ car.transmission | titlecase}}
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="">
          <ion-label>Odometer: {{ car.odometer }} </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="">
          <ion-label>Registration: {{ car.rego }} </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item detail="">
          <ion-label>Body Type: {{ car.bodyType | titlecase }} </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-button let i="index" fill="clear" (click)="edit(i)">Edit</ion-button>
    <ion-button fill="clear" (click)="presentAlert(i)">Delete</ion-button>
  </ion-card>
</ion-content>
