<ion-header>
  <ion-toolbar>
    <ion-title> Welcome </ion-title>
    <ion-menu-button slot="start" menu="main-menu"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-card color="tertiary" class="card-container">
      <ion-card-header class="card-header">
        <ion-card-title>Motorcazz</ion-card-title>
        <ion-card-subtitle>We rent cars</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>
          This is a simple mobile app to maintain a database for a car rental
          company. The application has features to add cars, edit, update and
          delete informaion functionalities as of now.
        </p>

        <p>User can view cars depending on the availability</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
