.container {
  height: 98%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 41, 70);
}

.btn {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.title {
  color: rgb(165, 188, 156);
}

li {
  color: aliceblue;
  text-align: center;
}
